.navbar {
  height: 50px;
  width: 100%;
  border-bottom: 0.5px solid rgb(231, 228, 228);
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #555;
 
  

  .wrapper {
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .title {
     color: #EB0303;
     font-size: 28px;
     font-weight: 700;
    }

    .search {
      width: 500px;
      height: 40px;
      border-radius: 5px;
      
      display: flex;
      align-items: center;
      justify-content: space-between;
      border: 0.5px solid lightgray;
      padding: 10px;
      
      input {
        border: none;
        outline: none;
        background: transparent;

        &::placeholder {
          font-size: 14px;
        }
      }
    }
    

   
  }
}